* {
  margin: 0;
  padding: 0;
  color: var(--dark-blue);
  font-family: 'Nanum Gothic', sans-serif;
}

:root {
  --white: #f7f7ff;
  --light-blue: #bdd5ea;
  --dark-blue: #243b4a;
  --green: #566e3d;
  --brown: #7a4419;
  --light-brown: #baa898;
}

body,
html {
  height: 100%;
  margin: 0;
}

body div {
  height: 100%;
}

button {
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* No Match Page */

.no-match {
  background-image: url(./pages/assets/images/bottom-wave-blue.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}

.no-match p {
  padding: 50px;
  font-size: 20px;
}
