.footer {
  display: flex;
  flex-direction: column;
  margin: 20px 0 30px 0;
  font-weight: bold;
}

.footer ul {
  list-style: none;
}

.footer li {
  list-style: none;
  font-size: 12px;
}

.footer a {
  text-decoration: none;
  color: var(--dark-blue);
}

.footer a:hover {
  color: var(--light-blue);
}

.footer-separator {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: var(--dark-blue);
  width: 100%;
}

.footer-info {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.footer-info-left,
.footer-info-center,
.footer-info-right {
  font-size: x-small;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 30%;
}

.footer-info-menu,
.footer-info-learn,
.footer-info-copyright {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 15px;
  color: var(--green);
}

.footer-info-left ul {
  text-align: start;
}

.footer-info-menu {
  text-align: start;
}

.footer-info-learn {
  text-align: center;
}

.footer-info-center ul {
  text-align: center;
}

.footer-info-right {
  margin-top: 2rem;
  text-align: end;
}
