.calculator-main {
  background-image: url(../images/right-blue-blue.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}

.calculator-main h2 {
  margin: 20px;
  font-size: 35px;
}

.description {
  font-size: 18px;
  margin: 20px;
}

.slider-sections {
  margin: 20px;
}

.slider-sections h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.calculator-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
