.calculator-main {
  background-image: url(../images/right-blue-blue.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}

.calculator-main h1 {
  margin: 20px;
  font-size: 2.3rem;
  text-align: center;
}

.description {
  font-size: 18px;
  margin: 20px;
}

.slider-sections {
  margin: 20px 20px 10px 20px;
}

.slider-sections h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.calculator-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.calculator-btn button {
  border: var(--dark-blue) solid 2px;
}

.calculator-btn button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

label {
  font-weight: bold;
}

@media screen and (max-width: 990px) {
  .calculator {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
