.calculator-main {
  background-image: url(../images/right-blue-blue.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}

.calculator-main h1 {
  margin: 20px;
  font-size: 40px;
  text-align: center;
}

.text {
  padding: 20px 60px;
}

.description {
  text-align: left;
  font-weight: normal;
  line-height: 1.5;
  border: solid var(--dark-blue) 2px;
  border-radius: 10px;
  margin: 20px 50px;
  padding: 25px 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 18px;
  background-color: var(--white);
}

.calc-h3 {
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.slider-sections {
  margin: 20px 20px 10px 20px;
}

.slider-sections h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}

.calculator-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.calculator-btn button {
  border: var(--dark-blue) solid 2px;
}

.calculator-btn button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

label {
  font-weight: bold;
}

.dropdown {
  background-color: #e8e8ef !important;
}

@media screen and (max-width: 990px) {
  .calculator {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
