.my-footprint {
  margin-bottom: 25px;
}

.footprint-data {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calculations {
  margin: 20px;
  flex: 40%;
  border: solid var(--dark-blue) 2px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footprint-title {
  font-size: 35px;
  padding-bottom: 20px;
}

.total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.graph {
  flex: 40%;
  border: solid var(--dark-blue) 2px;
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.no-info-title {
  margin: 20px;
  font-size: 35px;
}
