.ref-main {
  box-sizing: border-box;
  margin-bottom: 1rem;
  background-image: url(../images/right-blue-blue.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
}

.ref-title {
  text-align: center;
  margin: 10px 25px 45px 25px;
  font-size: 2rem;
}

.ref-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ref-button {
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  text-decoration: none;
  text-align: center;
}

.ref-button:hover {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border: 0.005rem solid var(--dark-blue);
}

.ref-container a {
  flex: 40%;
  padding: 20px;
  margin: 10px 20px;
  height: 50px;
}

@media screen and (max-width: 992px) {
  .ref-button {
    font-size: 100%;
  }
}

@media screen and (max-width: 600px) {
  .ref-button {
    font-size: 100%;
  }
}
