.navBar {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem 1rem 0rem;
  background-color: var(--white);
  z-index: 9999;
}

.navLogo {
  height: 40px;
}

.menuNav {
  margin-left: auto;
  background-color: var(--white);
}

.menuNav ul {
  position: absolute;
  top: 60px;
  right: 0;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 77px);
  display: none;
  list-style: none;
}

.menuNav.expanded ul {
  display: block;
  background-image: url(../../pages/assets/images/bottom-wave-blue.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200vh;
  background-color: var(--white);
}

.menu-icon-open::after {
  content: url('https://api.iconify.design/charm/menu-hamburger.svg?color=%23243b4a&width=45&height=40');
  /* charm:menu-hamburger */
}

.menu-icon-close::after {
  content: url('https://api.iconify.design/bi/x-lg.svg?color=%23243b4a&width=45&height=40');
  /* html bi:x-lg */
}

.menuNav li {
  text-align: center;
  margin: 25px 0 20px 0;
  padding: 0.8rem;
  font-size: 40px;
  color: var(--dark-blue);
}

.menuNav a {
  color: var(--dark-blue);
  text-decoration: none;
}

.menuNav li:hover {
  background-color: var(--light-blue);
}

.hamburger {
  border: 0;
  height: 50px;
  width: 45px;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateY(-30%);
  background-color: transparent;
}

@media screen and (max-width: 1100px) {
  .menuNav.expanded ul {
    height: 400vh;
  }
}
