.navBar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #f7f7ff;
  color: #243b4a;
  box-shadow: 0 2px 2px 2px #243b4a;
}

.brand-name {
  text-decoration: none;
  color: #243b4a;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.menuNav {
  margin-left: auto;
}

.menuNav ul {
  position: absolute;
  top: 60px;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 77px);
  background-color: white;
  border-top: 1px solid black;
  display: none;
}

.menuNav.expanded ul {
  display: block;
}

.menuNav li {
  text-align: center;
  margin: 0;
}

.menuNav li a {
  color: black;
  width: 100%;
  padding: 1.5rem 0;
  text-decoration: none;
}

.menuNav li:hover {
  background-color: #eee;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 25px;
  transform: translateY(-50%);
}

.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menuNav ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .menuNav.expanded ul {
    display: block;
  }

  .menuNav li {
    text-align: center;
    margin: 0;
  }
  .menuNav li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .menuNav li:hover {
    background-color: #eee;
  }
}
